*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    height: 5200px;
}
:root{
    --black-color: #000;
}
.wrapper{
    max-width: 1150px;
    margin: 0 auto;
}
.top_bar{
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.header{
    border-bottom: 1px solid #EAEEF2;
    position: relative;
}
.nav_menu__item a {
    font-size: 15px;
    line-height: 16px;
    color: var(--black-color);
    text-decoration: none;
}
.nav_menu,
.header_logo{
    display: flex;
    align-items: center;
}
.nav_menu{
    column-gap: 22px;
}
.nav_button{
    column-gap: 18px;
    margin-left: 5px;
    display: flex;
}
.nav_btn{
    height: 52px;
    box-sizing: border-box;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    padding: 0 25px;
    cursor: pointer;
    transition: box-shadow.35s ;
}
.nav_btn:hover{
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
}
.login{
    width: 96px;
    border: 1px solid var(--black-color);
    background: none;
    color: var(--black-color);
}
.expert{
    width: 189px;
    border: none;
    background: var(--black-color);
    color: #FFFFFF;
}
.header_wrap_content{
    padding: 100px 0 0 0px;
    display: flex;
    justify-content: space-between;
    column-gap: 48px;
}
.header_content_title{
    font-weight: bold;
    font-size: 77px;
    line-height: 83px;
    color: var(--black-color);
    margin-bottom: 27px;
    width: 491px;
}
.text{
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: var(--black-color);
}
.header_content h4{
    margin-top: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color:var(--black-color) ;
}
.header_button_bottom{
    position: absolute;
    width: 159px;
    height: 61px;
    background: #000000;
    border-radius: 100px;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    bottom:-30px;
    left: 145px;
    cursor: pointer;
    transition: box-shadow.35s ;
}
.header_button_bottom:hover {
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
}
.second_blok{
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 171px;
    display: flex;
    justify-content: space-between;
    column-gap: 104px;
}
.img_content_second{
    margin-top: 242px;
    height: 280px;
    width: 483px;
}
.text_content_second{
    margin-top: 210px;
    display: flex;
    flex-direction: column;
}
.text_content_title{
    height: 173px;
    width: 443px;
    font-style: normal;
    font-weight: 700;
    font-size: 57px;
    line-height: 58px;
    color: #000000;
}
.some_text_second{
    font-style: normal;
    font-weight: 400;
    height: 123px;
    width: 515px;
    font-size: 20px;
    line-height: 31px;
    color: #000000;
    margin-top: 33px;
    margin-right: 48px;
}
.third_block{
    max-width: 1150px;
    margin: 0 auto;
}
.third_content{
    display: flex;
    margin-top: 82px;
    column-gap: 70px;
}
.text_title_third{
    margin-top: 88px;
    font-weight: 700;
    font-size: 58px;
    line-height: 58px;
    color: #000000;
}
.title_third {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
}
.text_third {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.w295{
    width: 295px;
    height: 96px;
}
.w292{
    width: 292px;
    height: 72px;
}
.w272{
    height: 96px;
    width: 272px;
}
.button_third{
    width: 235px;
    height: 50px;
    background: #F7B2B7;
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-top: 71px;
    cursor: pointer;
    transition: box-shadow.35s ;
}
.button_third:hover {
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
}
.pink_block_header{
    width: 1440px;
    height: 705px;
    background: #FDECED;
    margin-top: 126px;
}
.pink_block{
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 88px;
}
.main_title_pink{
    font-weight: 400;
    font-size: 58px;
    line-height: 58px;
    color: #000000;

}
.inside_content{
    display: flex;
    flex-direction: row;
    margin-top: 82px;
    column-gap: 54px;
}
.pink_title{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
    margin-top: 24px;
}
.pink_text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-top: 10px;
}
.fifth_block{
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 129px;
    margin-bottom: 95px;
    display: flex;
    flex-direction: row;
    column-gap: 137px;
}
.head_text{
    width: 236px;
    height: 72px;
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;
    color: #000000;
}
.six_block{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    margin-top: 108px;
}
.title_six{
    font-weight: 700;
    font-size: 58px;
    line-height: 58px;
    color: #000000;
    margin-top: 191px;
}
.text_six{
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: black;
    width: 547px;
    height: 62px;
    margin-top: 40px;
    margin-right: 120px;
}
.button_six{
    width: 140px;
    height: 50px;
    background: #F7B2B7;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    border: none;
    cursor: pointer;
    transition: box-shadow.35s;
    margin-top: 79px;
}
.button_six:hover {
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
}
.image_side{
    margin-top: 108px;
    margin-bottom: 78px;
}
.seven_block{
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 108px ;
    margin-bottom: 108px;
}
.blue_block{
    background: #8BD4D6;
    border-radius: 10px;
    border: none;
    width: 1150px;
    height: 283px;
    display: flex;
    column-gap: 196px;
}
.button_seven{
    width: 159px;
    height: 50px;
    background: #000000;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 117px;
    cursor: pointer;
    transition: box-shadow.35s;
}
.button_seven:hover {
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
}
.text_area{
    margin-left: 90px;
    margin-top: 89px;
}
.seven_title{
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    color: #000000;
}
.seven_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #000000;
    margin-top: 18px;
}
.final_block_header{
    width: 1440px;
    height: 631px;
    background: #302E3F;
}
.final_block{
    max-width: 1150px;
    margin: 0 auto;
}
.final_title{
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    box-sizing: border-box;
    padding-top: 45px;
}
.final_text{
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}
.context{
    margin-top: 50px;
    display: flex;
    column-gap: 75px;
}
.column{
    display: flex;
    flex-direction: column;
}
.title_fin{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.p_final{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #C5E9EA;
    margin-top: 12px;
}
.contact_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #C5E9EA;
    margin-top: 13px;
}
.additional{
    display: flex;
    justify-content: space-between;
}
.text_zone{
    display: flex;
    margin-top: 58px;
    column-gap: 27px;
}
.mt81{
    margin-top: 81px;
}
.add_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #C5E9EA;
    width: 199px;
    height: 22px;
}