*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    height: 9467px;
}
.header_class{
    max-width: 1376px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.header_content{
    display: flex;
    column-gap: 56px;
    margin-right: 177px;
    margin-top: 28px;
}
.header_right{
    display: flex;
    column-gap: 24px;
}
.logo_header{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 171px;
}
.header_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
}
.header_button {
    width: 163px;
    height: 54px;
    background: #0B2330;
    border: 1px solid #0B2330;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 14px;
    cursor: pointer;
    transition: box-shadow.35s ;
}
.header_button:hover{
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
}
.mg28{
    margin-top: 28px;
    display: flex;
    column-gap: 24px;
}
.first_block {
    display: flex;
}
.first_text{
    margin-left: 147px;
    margin-top: 154px;
    display: flex;
    flex-direction: column;
    margin-right:257px;
}
.title_main{
    width: 436px;
    height: 256px;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
    margin-bottom: 32px;

  }
.prfrf_main{
    width: 435px;
    height: 96px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    margin-bottom: 38px;
}
.flex_button{
    display: flex;
    column-gap: 16px;
}
.fbutton{
    width: 163px;
    height: 54px;
    background: #F9C600;
    border: 1px solid #F9C600;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    cursor: pointer;
    transition: box-shadow.35s ;
}
.fbutton:hover{
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
}
.sbutton{
    width: 156px;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    background: none;
    line-height: 24px;
    border: 1px solid #0B2330;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow.35s ;
}
.sbutton:hover{
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
}
.yellow_block{
    width: 600px;
    height: 886px;
    background: #F9C600;
    margin-bottom: 189px;
}
.girl{
   position: relative;
   top: 172px;right: 102px;
}
.yelloww{
    margin-top: 220px;
}
.second_block{
    max-width: 1092px;
    margin: 0 auto;
}
.third_title{
    display: flex;
    justify-content: center;
    margin-bottom: 59px;
}
.third_titlee{
    font-weight: 400;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #0B2330;
    width: 547px;
    height: 96px;
}
.logo_one{
    column-gap: 82px;
    display: flex;
}
.marginn_bott{
    margin-bottom: 192px;
}
.mg_bot{
    margin-bottom: 16px;
}
.green_block{
    max-width: 1376px;
    height: 494px;
    margin: 0 auto;
    background: #51CEBC;
    border-radius: 10px;
    display: flex;
    margin-bottom: 191px;
}
.img_green{
    margin-top: 58px;
}
.green_title{
    margin-top: 114px;
    margin-bottom: 35px;
    width: 557px;
    height: 120px;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
}
.green_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #0B2330;
    width: 533px;
    height: 64px;
}
.four_block{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.four_title{
    width: 711px;
    height: 80px;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    text-align: center;
    margin-bottom: 57px;
}
.button_four {
    background: #F9C600;
    border: 1px solid #F9C600;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    cursor: pointer;
}
.button_four:hover {
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.75);
}
.pre_button{
    margin-top: 113px;
    margin-bottom: 160px;
    width: 163px;
    height: 54px;
}
.purple_block{
    width: 1260px;
    height: 537px;
    background: #BD78F0;
    border-radius: 10px;
    margin-left: 148px;
    display: flex;
    margin-bottom: 136px;
}
.purple_img{
    position: relative;
    right: 115px;
    top: 64px;
}
.purpl_text{
    display: flex;
    flex-direction: column;
}
.purpl_title{
    margin-top: 103px;
    width: 485px;
    height: 192px;
    font-weight: 400;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
}
.purpl_textt{
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
    width: 550px;
    margin-top: 39px;
}
.solutions{
    display: flex;
    flex-direction: column;
    margin-left: 148px;
}
.solution_title{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #6A7981;
    margin-bottom: 13px;
}
.main_title{
    font-weight: 400;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
    width: 593px;
    margin-bottom: 26px;
}
.sol_text{
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    margin-bottom: 219px;
}
.context_block{
    margin-left: 148px;
    margin-right: 32px;
}
.flex{
    display: flex;
    column-gap: 263px;
}
.img_top{
    margin-bottom: 23px;
    margin-top: 140px;
}
.title_context{
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    margin-bottom: 29px;
}
.text_context1{
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    width: 484px;
}
.text_context{
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    width: 484px;
}
.button_context {
    border: 1px solid #0B2330;
    border-radius: 4px;
    width: 144px;
    height: 54px;
    background: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.mg_top64{
    margin-top: 64px;
}
.button_context:hover{
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
}
.bottom_buttons{
    display: flex;
    column-gap: 8px;
    margin-top: 18px;
    margin-bottom: 148px ;
}
.buttons{
    background: #E7EAEB;
    border-radius: 4px;
    border: none;
    height: 23px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #61757E;
}
.bg_yellow{
    background: #FE9F28;
}
.w228{
    width: 228px;
}
.w147{
    width: 147px;
}
.w152{
    width: 152px;
    color: #0B2330;
}
.pink_block{
    background: #F2EDE7;
    height: 960px;
}
.inside_pink{
    margin-left: 122px;
    box-sizing: border-box;
    padding-top: 96px;
    padding-right: 121px;
}
.on_top{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #375361;
}
.main_pink_title_block{
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
    width: 1064px;
}
.context_side{
     display: flex;
    column-gap: 223px;
    margin-top: 122px;
}
.flex_2{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.contextual{
    border-top: 2px #C9316F solid;
}
.title_contextual{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
    margin-top: 25px;
}
.other_pink_context{
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    margin-top: 30px;
}
.button_0B{
    font-size: 16px;
    line-height: 28px;
    color: #0B2330;
}
.mg_top35{
    margin-top: 35px;
    display: flex;
}
.learn_analysis{
    display: flex;
    align-items: baseline;
    column-gap: 8px;
}
.analysis{
    border-top: #C3CACD solid 2px;
    margin-top: 22px;
}
.five_block{
    margin: 184px 0 264px 148px;
    display: flex;
    justify-content: space-between;
}
.five_title{
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    width: 669px;
    margin: 15px 0 37px 0;
}
.w667{
    width: 667px;
    margin-bottom: 36px;
}
.w208{
    width: 208px;
    height: 54px;
}
.six_block {
    max-width: 1376px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 46px;
}
.pink_block_left {
    background: #F2EDE7;
    border-radius: 10px 0 0 10px;
    width: 582px;
}
.yellow_block_right {
    background: #F9C600;
    border-radius: 0 10px 10px 0;
}
.invisible{
   position: relative;
    bottom: 95px;
    right: 122px;
}
.title_yellow{
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #000000;
    box-sizing: border-box;
    position: relative;
    bottom: 250px;
    right: 10px;
}
.inside_pink{
    height: 584px;
}
.info_man{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 170px;
}
.title_dop_context {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #0B2330;
    margin: 17px 0 27px 0;
}
.purpl_textt {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
    width: 325px;
}
.mg_top36{
    margin-top: 36px;
}
.mg_left{
    margin-left: 24px;
}
.info_title{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
}
.info_p{
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #2F3F48;
}
.last_block{
    background: #0B2330;
}
.center_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    box-sizing: border-box;
    padding-top: 53px;
}
.head_title{
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    font-weight: 400;
}
.head_text{
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: 642px;
}
.flex_center{
    display: flex;
    justify-content: center;
}
.mg{
    margin: 31px 0 36px 0;
}
.w163_54{
    width: 163px;
    height: 54px;
    margin-bottom: 95px;
}
.final{
    max-width: 1376px;
    margin: 0 auto;
    border-top: #375361 1px solid;
}
.mg_top80{
    margin-top: 80px;
}